<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">
<f:event type="preRenderView" listener="#{electionController.register}"/>
<h:head>
	<title>${artifactId}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<h:outputStylesheet name="css/screen.css" />
</h:head>
<h:body>

	<div id="container">
		<h2>Election</h2>

		<h:form id="electionForm">
			<p:messages id="messages" />
			<!-- 	<h:outputText value="#{currentDate}">	 -->
			<!--     	<f:convertDateTime pattern="MM/dd/yyyy" type="date" /> -->
			<!-- 	</h:outputText> -->



			<h:panelGroup rendered="#{empty restaurants}">
				<em>No registered users.</em>
			</h:panelGroup>
			<p:dataTable id="resVote" var="_restaurant" value="#{restaurants}"
				rendered="#{not empty restaurants}" rowKey="_restaurant.id"
				selection="#{_restaurant}">
				<p:column>
					<f:facet name="header">Id</f:facet>
                #{_restaurant.id}
            </p:column>
				<p:column>
					<f:facet name="header">Name</f:facet>
                #{_restaurant.name}
            </p:column>
				<p:column>
					<f:facet name="header">Address</f:facet>
                #{_restaurant.address}
            </p:column>

				<p:column>
					<p:commandButton id="vote" value="Vote" process="resVote"
						action="#{voteController.register(_restaurant)}">
						<p:confirm id="confirm" header="Atention" message="Submit vote?"
							icon="ui-icon-alert"></p:confirm>
					</p:commandButton>

				</p:column>

			</p:dataTable>
			<p:confirmDialog global="true">
				<p:commandButton value="Sim" type="button"
					styleClass="ui-confirmdialog-yes" icon="ui-icon-check" />
				<p:commandButton value="Não" type="button"
					styleClass="ui-confirmdialog-no" icon="ui-icon-close" />
			</p:confirmDialog>
		</h:form>
		<h:form id="resre2g">
			<p:commandButton value="Register New Restaurant"
				action="#{navigationController.moveToRestaurantPage}" />

			<p:commandButton action="result" value="Vote Preview"></p:commandButton>

			<p:commandButton action="#{userController.logout()}" value="Logout"></p:commandButton>
		</h:form>
	</div>


</h:body>
</html>