<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	template="/WEB-INF/templates/default.xhtml">
	<ui:define name="content">

		<div id="a" align="center">
			<h1>Welcome to Democratic Lunch!</h1>
			<h:form id="movtologin" align="center">

				<h:panelGrid align="center" columns="2">
					<p:commandButton for="login"
						action="#{navigationController.moveToLoginPage}" value="Login" />
					<p:commandButton for="register"
						action="#{navigationController.moveToRegisterPage}"
						value="Sign up" />

				</h:panelGrid>
			</h:form>
		</div>

	</ui:define>
</ui:composition>
