<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">
<h:head>
	<title>${artifactId}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<h:outputStylesheet name="css/screen.css" />
</h:head>
<h:body>
	<div id="container">
		<h2>Login</h2>
		<h:form id ="loginForm">

			<p:messages id="messages" />
			<h:panelGrid columns="2">
				<p:outputLabel for="name" value="User:" />
				<p:inputText id="name" value="#{newUser.name}" />

				<p:outputLabel for="password" value="Password:" />
				<p:password id="password" value="#{newUser.password}" />


				<p:commandButton id="login" value="Login" icon="ui-icon-star"
					action="#{userController.login}" ajax="false">
				</p:commandButton>


			</h:panelGrid>

		</h:form>
		<h:form>
			<p:commandButton for="register"
				action="#{navigationController.moveToRegisterPage}" value="Sign up" />
		</h:form>

	</div>
	<div id="container">
		<h2>Users</h2>
		<h:panelGroup rendered="#{empty users}">
			<em>No registered users.</em>
		</h:panelGroup>
		<h:dataTable var="_user" value="#{users}"
			rendered="#{not empty users}" styleClass="simpletablestyle">
			<!--             <h:column> -->
			<!--                 <f:facet name="header">Id</f:facet> -->
			<!--                 #{_user.id} -->
			<!--             </h:column> -->
			<h:column>
				<f:facet name="header">Name</f:facet>
                #{_user.name}
            </h:column>
			<h:column>
				<f:facet name="header">Email</f:facet>
                #{_user.email}
            </h:column>
			<!--             <h:column> -->
			<!--                 <f:facet name="header">REST URL</f:facet> -->
			<!--                 <a -->
			<!--                     href="#{request.contextPath}/rest/users/#{_user.id}">/rest/users/#{_user.id}</a> -->
			<!--             </h:column> -->
			<!--             <f:facet name="footer"> -->
			<!--             REST URL for all members: <a -->
			<!--                     href="#{request.contextPath}/rest/users">/rest/users</a> -->
			<!--             </f:facet> -->
		</h:dataTable>
	</div>
</h:body>
</html>