<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">
<h:head>
	<title>${artifactId}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<h:outputStylesheet name="css/screen.css" />
</h:head>
<h:body>

	<div id="container">
		<h2>Register a new Restaurant:</h2>
		<h:form id="restaurantForm">


			<f:validateBean disabled="true">
				<p:messages id="messages" />
				<h:panelGrid columns="2">
					<p:outputLabel for="name" value="Restaurant:" />
					<p:inputText id="name" value="#{newRestaurant.name}" />

					<p:outputLabel for="address" value="Address:" />
					<p:inputText id="address" value="#{newRestaurant.address}" />

					<p:commandButton id = "register" value="Register" icon="ui-icon-star"
						action="#{restaurantController.register}" ajax="false">
					</p:commandButton>

				</h:panelGrid>
			</f:validateBean>


		</h:form>
		<h:form>
			<p:commandButton value="Back to Election"
				action="#{navigationController.moveToVotePage}" />
		</h:form>
	</div>
	<div id="container">
		<h2>Restaurant</h2>

		<h:panelGroup rendered="#{empty restaurants}">
			<em>No registered users.</em>
		</h:panelGroup>
		<h:dataTable var="_restaurant" value="#{restaurants}"
			rendered="#{not empty restaurants}" styleClass="simpletablestyle">
			<!--             <h:column> -->
			<!--                 <f:facet name="header">Id</f:facet> -->
			<!--                 #{_restaurant.id} -->
			<!--             </h:column> -->
			<h:column>
				<f:facet name="header">Name</f:facet>
                #{_restaurant.name}
            </h:column>
			<h:column>
				<f:facet name="header">Address</f:facet>
                #{_restaurant.address}
            </h:column>
			<!--             <h:column> -->
			<!--                 <f:facet name="header">REST URL</f:facet> -->
			<!--                 <a -->
			<!--                     href="#{request.contextPath}/rest/restaurants/#{_restaurant.id}">/rest/restaurants/#{_restaurant.id}</a> -->
			<!--             </h:column> -->
			<!--             <f:facet name="footer"> -->
			<!--             REST URL for all members: <a -->
			<!--                     href="#{request.contextPath}/rest/restaurants">/rest/restaurants</a> -->
			<!--             </f:facet> -->
		</h:dataTable>



	</div>


</h:body>
</html>