<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	template="/WEB-INF/templates/default.xhtml">
	<ui:define name="content">

		<p:messages id="resultMessages" />
		<h:form id="votemap">
			<p:dataTable var="vote" value="#{dtResultView.pairList}" autoUpdate="true">
				<p:column headerText="Restaurant">
					<h:outputText value="#{vote.l}" />
				</p:column>

				<p:column headerText="Number of Votes">
					<h:outputText value="#{vote.r}" />
				</p:column>

			</p:dataTable>

		</h:form>
		<h:form id="nav">
			<p:commandButton id="election" action="election" value="Election"></p:commandButton>
			<p:commandButton id ="finishElection" action="#{electionController.finishElection}"
				value="FinishElection"></p:commandButton>
			<p:commandButton id="logout" action="#{userController.logout()}" value="Logout"></p:commandButton>

		</h:form>
	</ui:define>
</ui:composition>