
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets">
<h:head>
	<title>${artifactId}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<h:outputStylesheet name="css/screen.css" />
</h:head>
<h:body>
	<div id="container">

		<div id="content">
			<ui:insert name="content">

			</ui:insert>
		</div>

		<div id="footer">
			<p>
				This project was generated to provide democratic elections of lunch
				places everywhere around the globe.<br />
			</p>
		</div>
	</div>
</h:body>
</html>
